h1 {
    color: black;
    font-size: larger;
}
h2 {
color: brown;
font-family: 'Times New Roman', Times, serif;
}
p {
color: #000;
font-weight: 100;
background-color: bisque;
}
.parrafo {
    color: crimson;
    font-style: italic;
}
#division {
    color: blueviolet;
    font-weight: 200;
}
[href] {
    color: green;
}
[href="http://www.udemy.com"] {
    color: red;
}
a:hover {
    text-decoration: none;
}
input:focus {
    background-color: blanchedalmond;
}
ul li:nth-child(2) {
    color: red;
}
p::first-letter {
    color: #000;
    font-size: large;
}
li a {
    text-decoration: none;
    color: red;
}
ul + p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}