p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

p::first-line {
    color: red;
    text-transform: uppercase;
}

h2::before {
    content: "🔥 ";
}

h2::after {
    content: " 🔥";
}

a::after {
    content: " ➡";
}

.texto-importante::before {
    content: "¡Importante! ";
    font-weight: bold;
}

.linea-despues::after {
    content: "";
    display: block;
    border-top: 2px solid black;
    margin-top: 10px;
}
  