.contenido p {
    color: blue;
  }

ol a {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: "Arial", sans-serif;
}

.texto-rojo, .texto-verde {
    color: red;
}

[type="text"], [type="email"] {
    border: 1px solid gray;
}
  