/* Herencia */
body {
    color: #007bff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

p {
    color: #007bff;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    color: #333;
}

.seccion1 h2 {
    font-size: 24px;
}

.seccion2 h2 {
    color: #007bff;
    font-size: 20px;
}

.texto-resaltado {
    color: rgb(122, 15, 15);
    font-weight: bold;
}

.texto-resaltado.emphasized {
    color: #007bff;
    font-size: 18px;
}  